/*======================
  Google fonts
========================*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;700;800;900&display=swap');

/*======================
  Basic css
========================*/

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}


body {
  color: #282828;
  overflow-x: hidden;
  line-height: 1.3;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #222222;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  text-decoration: none;
  color: #222;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0F1F2C;
}

p,
span {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #485763;
}

.button {
  padding: 1.32rem 3rem 1.1rem 3rem;
  background-color: #9505bf;
  font-weight: 700;
  color: #fff;
  border-radius: 0.6rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
  border: 0.2rem solid #9505bf;
}

.button:hover {
  color: #9505bf;
  background: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


/*======================
  preloader style
========================*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 99999;
}


/*======================
  header style
========================*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  padding: 2.3rem 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header.nav-active {
  background-color: #fff;
  -webkit-box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header .menu li {
  display: inline-block;
}

header .menu li a {
  font-size: 1.6rem;
  color: #282828;
  margin-right: 3rem;
}

header .menu li .nav-link {
  padding: 0 !important;
}

header .menu li a:hover,
header .menu li a.active {
  color: #9505bf;
}

header .menu li:last-child a {
  margin-right: 0;
}

header .menu li .header-btn {
  background: none;
  color: #282828;
  padding: 1rem 3rem 0.6rem 3rem;
}

header .menu li .header-btn:hover {
  color: #fff;
  background-color: #9505bf;
}

header .menu .header-social-icon a:not(:last-child) {
  margin-right: 1rem !important;
}

.fa-facebook-f {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-youtube {
  color: #ff1e00;
}

.fa-instagram {
  color: #dd4b39;
}


/*======================
  Hamburger-menu style
========================*/
.hamburger-menu {
  cursor: pointer;
  display: none;
  z-index: 999;
  margin-left: auto;
  width: 3rem;
}
.hamburger-menu span {
  background: #9505bf;
  width: 3rem;
  height: 0.2rem;
  display: block;
  margin: 0.6rem 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.hamburger-menu .line-top.current {
  -webkit-transform: translateY(0.4rem) rotate(135deg);
  -ms-transform: translateY(0.4rem) rotate(135deg);
  transform: translateY(0.4rem) rotate(135deg);
}
.hamburger-menu .line-center.current {
  opacity: 0;
}
.hamburger-menu .line-bottom.current {
  -webkit-transform: translateY(-1.25rem) rotate(-135deg);
  -ms-transform: translateY(-1.25rem) rotate(-135deg);
  transform: translateY(-1.25rem) rotate(-135deg);
}


/*======================
  hero area style
========================*/
.hero-area {
  background-color: #f2d5fb;
  min-height: 75rem;
  padding: 10rem 0;
}
.hero-area .hero-content h2 {
    font-size: 5.5rem;
    font-weight: 700;
}
.hero-area .hero-content p {
    font-size: 1.6rem;
    color:#545354;
    margin-top: 1rem;
    max-width: 44rem;
}
.hero-area .hero-content .hero-btn-area {
  margin-top: 3.5rem;
}
.hero-img-area {
  position: relative;
}
.hero-img-area .shape {
  position: absolute;
  -webkit-animation: animate-hero 6s linear infinite;
          animation: animate-hero 6s linear infinite;
}
.hero-img-area .shape-1 {
  top: -3.2rem;
}
.hero-img-area .shape-2 {
    right: -8rem;
    top: 7rem;
}
.hero-img-area .shape-3 {
  bottom: -4.2rem;
  right: -4.3rem;
}
.hero-img-area .shape-4 {
    top: -6.8rem;
    right: 9.6rem;
}
.hero-img-area .shape-5 {
  bottom: -3.2rem;
  left: 0;
}

@-webkit-keyframes animate-hero {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animate-hero {
  0%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/*======================
  trust area style
========================*/

.trust-area {
  padding: 10rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 2rem;
}

.section-title p {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #9505bf;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.section-title h2 {
  font-size: 4.5rem;
  font-weight: 700;
}

.trust-area .trust-box {
  padding: 5rem;
  border: 0.1rem solid #ebebeb;
  border-radius: 1.8rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
  height: 100%;
}

.trust-area .trust-box:hover {
  -webkit-box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
          box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-color: #fff;
}

.trust-area .trust-box h4 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  font-weight: 600;
}

.trust-area .trust-box p {
  margin-top: 1.5rem;
}


/*======================
  about area style
========================*/

.about-area {
  padding: 7rem 0 10rem;
  background-color: #FAFBFE;
}

.about-area .about-content h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.about-area .about-content .about-btn-area {
  margin-top: 4rem;
}

.about-img-area {
  width: 100%;
}

.about-img-area .img-1,
.img-2 {
  width: 50%;
}


/*======================
  service area style
========================*/

.service-area {
  padding: 10rem 0;
}

.service-box {
  padding: 5rem;
  text-align: center;
  border: 0.1rem solid #ebebeb;
  border-radius: 1.8rem;
  height: 100%;
  background-color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.service-box:hover {
  -webkit-box-shadow: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
          box-shadow: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-color: #fff;
}
.service_icon {
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.service-box img {
  max-width: 5rem;
}

.service-box h4 {
  font-size: 2.5rem;
  margin-top: 2.5rem;
  font-weight: 600;
}

.service-box p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.service-box .box-arrow {
  font-size: 3rem;
  color: #9505bf;
}


/*======================
  work area style
========================*/

.work-area {
  padding: 10rem 0;
  background-color: #FAFBFE;
}

.work-area .work-carousel .item {
  min-height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border-radius: 1.8rem;
  background-position: center center;
}

.work-carousel .owl-dots {
  text-align: center;
  margin-top: 4rem;
}

.work-area .work-carousel .item .work-text {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
}

.work-area .work-carousel .item .work-text p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
}

.work-area .work-carousel .item .work-text h3 {
  font-size: 2.3rem;
  color: #fff;
  font-weight: 700;
}

.work-area .work-carousel .owl-item {
  opacity: .8;
}

.work-area .work-carousel .owl-item.center {
  opacity: 1;
}

.work-area .work-carousel .item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(255,255,255);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51%, rgba(255,255,255,0)), to(rgba(0,0,0,0.7)));
  background: -o-linear-gradient(top, rgba(255,255,255,0) 51%, rgba(0,0,0,0.7) 100%);
  background: linear-gradient(180deg, rgba(255,255,255,0) 51%, rgba(0,0,0,0.7) 100%);
  z-index: -1;
  border-radius: 1.8rem;
}

.work-area .project-content {
  padding-left: 7rem;
}

.work-area .project-content .devel-sub-head {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fe6686;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.2rem;
}

.work-area .project-content h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2.7rem;
}

.work-area .project-content .devel-para {
  margin-bottom: 3rem;
}


/*======================
  team area style
========================*/

.team-area {
  padding: 10rem 0;
}

.team-area .team-box .team-text {
  margin-top: 2rem;
}

.team-area .team-img-box {
  overflow: hidden;
  border-radius: 1.8rem;
}

.team-area .team-box img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.team-area .team-box img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
}

.team-area .team-box .team-text h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}


/*======================
  testimonial area style
========================*/

.testimonial-area {
  padding: 7rem 0 10rem;
  background-color: #FAFBFE;
}

.testimonial-area .section-title {
  text-align: left;
}

.media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-area .testi-box .media {
  margin-top: 3rem;
}

.testimonial-area .testi-box .media img {
  height: 6rem;
  width: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.testimonial-area .testi-box .media h3 {
  font-weight: 700;
}

.testimonial-area .testi-box .media p {
  font-size: 1.5rem;
}

.testimonial-area .testimonial-carousel .owl-dots {
  margin-top: 3rem;
}

.testimonial-area .testimonial-carousel .owl-dots button,
.work-carousel .owl-dots button {
  height: 0.8em;
  width: 0.8rem;
  background-color: #9505bf;
  margin-right: 1.3rem;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.testimonial-area .testimonial-carousel .owl-dots button.active,
.work-carousel .owl-dots button.active {
  width: 2rem;
  border-radius: 2rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


/*======================
  news area style
========================*/

.news-area {
  padding: 10rem 0;
}

.news-area .news-box {
  padding: 4rem 3rem;
  border: 0.2rem solid #ebebeb;
  border-radius: 1.8rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.news-area .news-box:hover {
  -webkit-box-shadow: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
          box-shadow: 0rem 1.2rem 3.2rem rgba(0, 0, 0, 0.08);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-color: #fff;
}

.news-area .news-box .news-category {
  text-transform: capitalize;
  font-weight: 700;
  color: #fe6686;
  margin-bottom: 0.6rem;
}

.news-area .news-box .news-para {
  margin-bottom: 2.5rem;
}

.news-area .news-box .design {
  color: #54d6a1;
}

.news-area .news-box .research {
  color: #fe9a3f;
}

.news-area .news-box h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.news-area .news-box .media img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wishlist{
  cursor: pointer;
}
.wishlist-area p{
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.news-area .news-box .box-footer,
.wishlist-area {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heart-stroke {
  fill: none;
  stroke: #ddd;
  stroke-width: 0.2rem;
  opacity: 1;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
}

.b-tn.active .heart-stroke {
  opacity: 0;
}

.heart-full {
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.b-tn.active .heart-full {
  opacity: 1;
}

.heart-lines {
  stroke-width: 0.2rem;
  display: none;
}

.b-tn:not(.active):hover .heart-stroke {
  -webkit-animation: pulse 1s ease-out infinite;
  animation: pulse 1s ease-out infinite;
}

.b-tn.animate .heart-full {
  -webkit-animation: heart 0.35s;
  animation: heart 0.35s;
}

.b-tn.animate .heart-lines {
  -webkit-animation: lines 0.2s ease-out forwards;
  animation: lines 0.2s ease-out forwards;
  display: block;
}

@-webkit-keyframes lines {
  0% {
    stroke-dasharray: 6;
    stroke-dashoffset: 16;
  }
  100% {
    stroke-dasharray: 13;
    stroke-dashoffset: 18;
  }
}

@keyframes lines {
  0% {
    stroke-dasharray: 6;
    stroke-dashoffset: 16;
  }
  100% {
    stroke-dasharray: 13;
    stroke-dashoffset: 18;
  }
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  35% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    opacity: 0.6;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/*======================
  contact area style
========================*/

.contact-area {
  position: relative;
}

.contact-area .img-column {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.contact-area .img-column iframe{
  height: 100%;
  width: 100%;
}
.contact-area .img-column img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact-area form {
  padding: 4.5rem;
  background-color: #FAFBFE;
}

.contact-area form .input_group {
  margin-top: 4rem;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.contact-area form input,
.contact-area form textarea {
  width: 100%;
  border: none;
  border-bottom: 0.2rem solid #9505bf;
  background: none;
  font-size: 1.6rem;
  color: #282828;
  padding-bottom: 0.5rem;
}

.contact-area form textarea {
  height: 13rem;
  resize: none;
}

.contact-area form .form-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

::-moz-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

::-ms-input-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}


/*======================
  footer style
========================*/

footer {
  padding-top: 10rem;
}

footer .footer-box {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 3rem;
}

footer .footer-box p {
  max-width: 30rem;
}

footer .footer-box h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

footer .footer-box form {
  margin-top: 2.3rem;
}

footer .footer-box form input {
  width: 100%;
  height: 4.5rem;
  padding: 0 2rem;
  border: none;
  background-color: #f3f9fb;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
footer .footer-box form .input_group {
  position: relative;
}
footer .footer-box form .input_group .email-btn{
  position: absolute;
  top: 50%;
  right: 1.5rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
}
footer .footer-box .quick-links a {
  display: block;
  font-size: 1.6rem;
}
footer .footer-box form .input_group .email-btn button {
    border: none;
    background: none;
    font-size: 1.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9505bf;
}
footer .footer-box .quick-links a:hover {
  color: #9505bf;
}

footer .footer-box .quick-contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-box .quick-contact .icon {
  height: 3.5rem;
  width: 3.5rem;
  line-height: 3.8rem;
  text-align: center;
  background-color: #9505bf;
  color: #fff;
  border-radius: 50%;
  font-size: 1.4rem;
}

footer .footer-box .quick-contact a {
  max-width: 25rem;
  font-size: 1.6rem;
}

.footer-bottom {
  margin-top: 5rem;
  padding: 2rem 0 2rem;
  border-top: 0.1rem solid #ebebeb;
}

.footer-bottom .footer-social {
  text-align: right;
}

.footer-bottom .footer-social a {
  margin-right: 2rem;
  font-size: 1.6rem;
}

.footer-bottom .footer-social a:last-child {
  margin-right: 0;
}
